#cajalienzo{
    background-image: url("calle.jpg");
    background-size: contain;
   height: 700px;
}
#boton{
    display: inline;
    width: 200px;
    height: 50px;
    text-align: center;
    background-color: red;
    margin-left: 50%;
    transform: translateX(-50%);
    margin-top: 10px;
    font-size: 30px;
}